* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: slategrey;
    color: whitesmoke;
}

/* === Landing Page === */
body {
    width:100%;
    overflow: hidden;
/*  this is to avoid any unwanted scrollbar to appear when children are outside the 100% width limit. */
}

header h1 {
    font-size: 48px;
    position: relative;
    top:0px;
	left:0px;
    padding:20px 20px 0 20px;
    display:block;
    animation: slider1 1.5s;
}

header h2 {
    font-size: 24px;
    position: relative;
    top:0px;
	left:0px;
    padding:20px 20px 0 20px;
    display:block;
    animation: slider2 2s 1.5s backwards;
}

figure {
    height: 50px;
    width: 100px;
    object-fit: contain;
    border: 1px solid black;
    margin: 5px;
    background: whitesmoke;
    position: absolute;
}

figure h1 {
    opacity: 0;
}

figcaption {
    font-size: 14px;
    opacity: 0;
}

eventHeader {
    font-size: 24px;
    font-weight: 700;
    position: relative;
    top:0px;
	left:0px;
    opacity: 0;
/*    padding:20px 20px 0 20px;*/
}

eventDescription {
    font-size: 18px;
    position: relative;
    top:0px;
	left:0px;
    opacity: 0;
/*    padding:20px 20px 0 20px;*/
}

#f1 {
    background: url(../images/france-flag-large.jpg) no-repeat center center;
    background-size: cover;
    bottom: 100px;
    left: 20px;
/*    display: block;*/
}

#f2 {
    background: url(../images/germany-flag-large.jpg) no-repeat center center;
    background-size: cover;
    bottom: 160px;
    left: 20px;
}

#f3 {
    background: url(../images/italy-flag-large.jpg) no-repeat center center;
    background-size: cover;
    bottom: 220px;
    left: 20px;
}

#f4 {
    background: url(../images/japan-flag-large.jpg) no-repeat center center;
    background-size: cover;
    bottom: 280px;
    left: 20px;
}

#f5 {
    background: url(../images/united-kingdom-flag-large.jpg) no-repeat center center;
    background-size: cover;
    bottom: 340px;
    left: 20px;
}

#f6 {
    background: url(../images/united-states-of-america-flag-large.jpg) no-repeat center center;
    background-size: cover;
    bottom: 400px;
    left: 20px;
}

#f7 {
    background: url(../images/canada-flag-large.jpg) no-repeat center center;
    background-size: cover;
    bottom: 100px;
    left: 210px;
}

#f8 {
    background: url(../images/russia-flag-large.jpg) no-repeat center center;
    background-size: cover;
    bottom: 100px;
    left: 700px;
}

#f9 {
    background: url(../images/russia-flag-large.jpg) no-repeat center center;
    background-size: cover;
    bottom: 0;
    left: 1000px;
}

#f10 {
    height: 25px;
    width: 90%;
    bottom: 60px;
    left: 0;
}

#f11, #f12, #f13, #f14 {
    height: 25px;
    bottom: 60px;
    text-align: center;
    text-decoration-color: black;
    color: black;
    animation: slider 10s;
    
}

#f11 {
    left: 20px;
}

#f12 {
    left: 210px;
}

#f13 {
    left: 700px;
}

#f14 {
    left: 1000px;
}

#f15, #f16, #f17, #f18 {
    height: 200px;
    width: 400px;
    left: 700px;
    bottom:200px;
    padding: 10px;
    opacity: 0;
}

#f11:hover #f18 {
    opacity: 1;
    background-color: aqua;
}

@keyframes slider {
	from {opacity:0;}
	to {opacity:1;}
}

@keyframes slider1 {
	from {opacity:0; left:1000px;}
	to {opacity:1; left:0px;}
}

@keyframes slider2 {
	from {opacity:0; left:-100px;}
	to {opacity:1; left:0px;}
}


