@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background:#fff;
    position: fixed
    top: 0;
    left: 0;
    width:100%;
    display: flex;
}

nav a:link {
    padding:20px;
    flex-grow: 1; /*    let every link take up the same amount of space*/
    color: #333;
    text-decoration:none;
    text-align: center;
    transition: all;
    
}

nav a:visited {
    color: #333;
}

nav a:hover {
    background: #333;
    color: #fff;
}


#bgvid {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
/*
    right: 0;
    bottom: 0;
*/
    
    min-width: 100%;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: -1;
    
/*    to account for those browsers not supporting this functionality, see below*/
    background: url(../images/flower.jpg) no-repeat;
    background-size: cover;
}

header {  
    widows: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

hgroup {
    text-align: center;
    color: #fff;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 12vmax; 
    text-transform: uppercase;
    line-height: 11vmax;
    text-shadow: 4px 4px 0px rgba(0,0,0,.5);
    cursor: pointer;
    transition:all .5s;
}

h1:hover {
    text-shadow: 4px 4px 0px rgba(0,0,0,.5), 5px 5px 0px rgba(0,0,0,.5), 6px 6px 0px rgba(0,0,0,.5), 7px 7px 0px rgba(0,0,0,.5), 8px 8px 0px rgba(0,0,0,.5), 9px 9px 0px rgba(0,0,0,.5), 10px 10px 0px rgba(0,0,0,.5);
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2.3vmax; 
    text-transform: capitalize;
    color: #eee;
    

}

#descvideo {
    width: 100%;
    min-height: 100%;
    height: auto;
    background:#fff;
    padding: 40px;
    display:flex;
    align-items: flex-start;
}

#descvideo article {
    width: 30%;
    margin-right: 40px;
}

article p {
    font-size: 20px;
    margin-bottom: 20px;
}

.smvid {
    width:40%;
}

#s1 {
    background: brown;
}

#s0 {
    background-color: azure;
}